/* Ensure the body or parent container is using flex layout */
body {
    margin: 0;
    padding: 0;
    height: 500px; /* Full viewport height */
    display: flex;
    flex-direction: column; /* Arrange children vertically */
  }
  
  .map-container {
    flex: 1; /* Take up remaining space */
    width: 100%;
    height: 850px; /* Fixed height for the map */
  }
  
  /* Other components should be placed here and have their own styles */
  .map-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .dark-mode-button {
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1; /* Make sure it's above the map */
  }
  
  .dark-mode-button:hover {
    background-color: #555;
  }
  